* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.logo {
    height: 150px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: linear-gradient(90deg, #03132b, #08275c, #020814);
}

.menu-icon {
  font-size: 34px;
  color: #f4c400;
  cursor: pointer;
  transition: 0.3s;
  transition: transform 0.3s ease, color 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}

.menu-icon:active{
  transform: scale(0.9) rotate(-8deg);
}

.menu-icon:hover {
    transform: scale(1.1) rotate(8deg);
    color: #ffd84d;
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: #f4f4f4;
  z-index: 9999;
  transition: 0.4s ease;
  overflow-y: auto;
}

.menu-overlay.ativo {
  right: 0;
}

.menu-topo-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 20px;
  background: white;
  border-bottom: 3px solid #0c3d73;
}

.logo-menu {
  width: 170px;
}

.fechar-menu {
  background: transparent;
  border: none;
  color: #0c3d73;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.fechar-menu:hover {
    transform: scale(1.1) rotate(8deg);
}

.menu-lista {
  padding: 10px 20px 30px;
}

.item-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  padding: 18px 0;
  transition: 0.3s;
}

.item-menu:hover {
    transform: translatey(-10px);
}

.item-menu a {
  text-decoration: none;
  color: #0c3d73;
  font-size: 18px;
  font-weight: bold;
}

.btn-mais {
  width: 48px;
  height: 45px;
  border: none;
  background: #f4c400;
  color: #0c3d73;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.btn-mais:hover {
  transform: scale(1.1) rotate(8deg);
  background: #ffd500;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.menu-esquerda {
    display: flex;
    align-items: center;
}

.menu-direita {
    position: relative;
}

.icon,
.menu-icon {
    font-size: 25px;
    color: #e0b100;
    cursor: pointer;
    margin-left: -55px;
}

.slides {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: white;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background: linear-gradient(135deg, #f7c948, #f59e0b);
}

@media (min-width: 768px) {
  .slides {
    height: 400px;
  }
}

.slide.active {
  opacity: 1;
}

.cards {
    text-align: center;
    margin-top: 80px;
}

.card {
    background: linear-gradient(90deg, #03132b, #08275c, #020814);
    color: white;
    padding: 60px;
    border-radius: 15px;
}

.card-button {
    background: linear-gradient(135deg, #ffd84d, #f4b400);
    border: none;
    color: #ffffff;
    font-weight: bold;
    padding: 15px 50px;
    margin-top: 35px;
    border-radius: 25px;
    border-radius: 15px;
    transition: 0.3s;
}

.card-button2 {
    background: linear-gradient(135deg, #ffd84d, #f4b400);
    border: none;
    color: #ffffff;
    font-weight: bold;
    padding: 19px 55px;
    margin-top: 35px;
    border-radius: 25px;
    border-radius: 15px;
    transition: 0.3s;
}

.card-button2:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(244, 180, 0, 0.45);
}

.card-button:hover{
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(244, 180, 0, 0.45);
}

.card h2 {
    font-size: 28px;
    font-weight: bold;
}

.card h3 {
    font-weight: bold;
    font-size: 23px;
    color: #ffd60a;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
}

.fotos-universidade {
    text-align: center;
    margin-top: 35px;
    font-weight: bold;
    margin-top: 100px;
}

.fotos-universidade h2 {
     font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2;
  color: #111;
}

span {
    color: #e6b800;
}

.fotos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto {
    height: 280px;
    border: 4px solid #e6b800;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    margin-top: 60px;
}

.button {
    background: linear-gradient(135deg, #ffd84d, #f4b400);
    color: #ffffff;
    padding: 30px 50px;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 100px;
    border: none;
    transition: 0.3s;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(244, 180, 0, 0.45);
}

.noticias {
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
}

.noticias h2 {
    font-size: 35px;
}

.img-noticia {
    height: 200px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.noticia { 
    margin-top: 70px;
    padding: 50px;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.noticia h3 {
    margin-bottom: 15px;
    font-weight: bold;
}

.noticia p {
    color: #ccc;
    font-size: 16px;
    font-family: arial, sans-serif;
}

.noticia h2 {
    font-size: 15px;
    margin-top: 25px;
}



.novidades {
    text-align: center;
    margin-top: 100px;
    background: #f5f5f5;
    padding: 25px;
    border-radius: 10px;
}

.img-novidades {
    height: 200px;
    margin-left: -10px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 15px;
}

.novidade {
    background: #f5f5f5;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.06);
    padding: 50px;
    margin-top: 100px;
    border-radius: 15px;
    transition: 0.3s ease;
}

.novidade:hover {
    transform: translateY(-6px);
    box-shadow: 0 16px 35px rgba(0, 0, 0, 0.18);
}

.novidade h3 {
    margin-bottom: 15px;
    font-weight: bold;
}

.ler-mais {
    color: white;
  background: #f1c40f;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  margin-top: 20px;
  transition: 0.3s;
}

.ler-mais:hover {
    transform: translatey(-5px);
}

.text {
    text-align: center;
    margin-top: 60px;
}

.info-faculdade {
    text-align: center;
    margin-top: 50px;
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    scroll-behavior: smooth;
}

.info {
    min-width: 80%;
    max-width: 260px;
    background: linear-gradient(135deg, #1f4fd1, #2f6bff);
  border-radius: 28px;
  padding: 30px 20px;
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}

.info::before {
    content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #f4c400;
  border-radius: 10px;
  margin: 0 auto 20px;
}

.info:hover {
    transform: translateY(-6px);
  transition: 0.3s ease;
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.20);
}

.info h3 {
    font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #ffd60a;
}

.info p {
    font-size: 1.1rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.88);
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
}


.footer{
  background: #0f172a;
  color: white;
  padding: 50px 20px 20px;
  margin-top: 60px;
}

.footer-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-logo h2{
  font-size: 28px;
  margin-bottom: 10px;
  color: #facc15;
}

.footer-logo p{
  color: #cbd5e1;
}

.footer-links,
.footer-contato{
  display: flex;
  flex-direction: column;
}

.footer-links h3,
.footer-contato h3{
  margin-bottom: 12px;
  color: #facc15;
}

.footer-links a{
  text-decoration: none;
  color: #e2e8f0;
  margin-bottom: 8px;
  transition: 0.3s;
}

.footer-links a:hover{
  color: #facc15;
}

.footer-contato p{
  margin-bottom: 8px;
  color: #cbd5e1;
}

.footer-bottom{
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.15);
  margin-top: 30px;
  padding-top: 20px;
  color: #94a3b8;
}